body {
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map {
    height: 100%;
}

.sidebar {
    height: 100%;
    background-color: #eeeeee;
}

.fire-title {
    font-size: 50px;
    font-family: Arial;
    padding: 5px;
    color: blue;
}

.add-fire {
    font-size: 25px;
    font-family: Arial;
    color: lightblue;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.reported {
    font-size: 20px;
    font-family: Arial;
}

.hidden {
    opacity: 0%;
}

#loading {
    font-size: 40px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}

img {
    width: 160px;
    height: 160px;
    margin-top: 20%;
    padding: 10px;
}

#main {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 100%;
}