html,
body {
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f3f4;
}

.map {
    height: 87%;
}

.sidebar {
    height: 87%;
    background-color: #9e9e9e;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.fire-title {
    font-size: 50px;
    font-family: Arial;
    padding: 5px;
    color: blue;
}

.add-fire {
    font-size: 25px;
    font-family: Arial;
    color: lightblue;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.reported {
    font-size: 20px;
    font-family: Arial;
}

.hidden {
    opacity: 0%;
}

#loading {
    font-size: 40px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}

img {
    width: 160px;
    height: 160px;
    margin-top: 20%;
    padding: 10px;
}

#main {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 100%;
}

.fire {
    width: 70%;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: red;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.list {
    width: 100%;
    height: 70%;
    vertical-align: middle;
    overflow-y: scroll;
}